@import "./maps", "./extend", "./mixins", "./variables";

.card {
    border: none;
    box-shadow: 00px 02px 02px;
    .card-body {
        padding: 10px 00px 10px 00px;
        .card-title {
            font-size: map-get($cardStyles, fuenteTitulo);
            font-weight: 600;
        }
        .btn-primary {
            color: black;
            font-size: 14px;
            background-color: map-get($cardStyles, bgBoton);
            width: 100%;
            margin: 00px;
            border: map-get($cardStyles, border1);
            border-radius: 00px;
            transition: transform 0.3s;
            &:hover {
                opacity: 0.8;
            }

        }
    }
}

@media screen and (min-width: 1200px) {
    .card {
        border: none;
        .card-body {
            padding: map-get($cardStyles, paddingBody);
            .card-title {
                font-size: map-get($cardStyles, fuenteTitulo );
            }
            .btn-primary {
                color: black;
                font-size: map-get($cardStyles, fuenteBody );
                background-color: map-get($cardStyles, bgBoton );
                width: 100%;
                margin: 00px;
                border: $borderPrimary;
                border-radius: 00px;
                transition: transform 0.3s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}