@import "./maps", "./extend", "./mixins";

.textoContacto {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-flow: column wrap;
    text-align: start;
    width: 90vw;
    margin-bottom: 40px;
    background: rgb(185,210,219);
    background: linear-gradient(180deg, rgba(185,210,219,1) 35%, rgba(130,193,218,1) 100%);
    padding: 15px;
    border-radius: 05px;
    @include shadow(00px, 01px, 02px, $borderPrimary);
    h2 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    p {
        line-height: 2;
        
        a {
            color: #000;
            font-weight: 600;
        }
    }
}

.formContacto {
    background-color: $bgPrimary;
    @include shadow(00px, 04px, 04px, $borderPrimary);
    border-radius: 04px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 40px;
    
    h3 {
        margin: 15px;
    }

    #nombre,
    #numero,
    #email {
    width: 200px;
    }

    #mensaje {
        width: 250px;
        height: 75px;
    }
    
    .boton {
        width: 49%;
        margin-bottom: 10px;
    }
}

.mapa {
    height: 400px;
    display: flex;
    justify-content: center;
    iframe {
        height:100%;
        width:100%;
    }
}


// CONTACTO TABLETA
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .mainContacto {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }
}
// FIN CONTACTO TABLETA

// CONTACTO DESKTOP
@media screen and (min-width: 1200px) {
    .mainContacto {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        width: 80vw;

        .formContacto {
            margin-right: 200px;
        }
    }
}

// FIN CONTACTO DESKTOP