@import "./maps", "./extend", "./mixins";

.footer {
    background-color: $bgFooter;
    font-family: $fontLogo;
    font-size: 14px;
    @include displayFlex(column);
    .tituloFooter {
        width: 100%;
        font-size: 18px;
    }
    .contactanosFooter {
        @extend .flexRow;
        .redes {
            width: fit-content;
            display: flex;
            @include alignment(center, space-around);
            background-color: $bgFooter2;
            border-radius: 05px;
            .logo {
                width: 35px;
                height: 35px;
            }
            
        }
        
        .encontranos {
            background-color: $bgFooter2;
            border-radius: 05px;
            @extend .flexRow;
            @include alignment(center, space-between);
            .logo {
                width: 30px;
                height: 30px;
            }
            .textoFooter {
                font-size: 14px;
                font-family: $fontPrimary;
                color: $colorPrimary;
            }
            div,
            a div {
                @extend .flexRow;
                @include alignment(center, space-between);
            }
            a {
                text-decoration: none;
            }
        }
    }
        
    .payment {
        @include displayFlex(column);
        @include alignment(center, center);
        img {
            width: 20rem;
        }
        
    }
    
    .copyright {
        font-family: $fontPrimary;
        font-size: 14px;
        span {
            color: rgb(0, 0, 0);
            font-weight: 600;
        }
    }

    .developer {
        background-color: #43434348;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
            text-decoration: none;
            p {
                color: $colorPrimary;
                img {
                    height: 18px;
                }
            }
        }

    }
}

@media screen and (min-width:768px) {

    .footer {
        .contactanosFooter {
            div {
                height: 46px;
            }
        }
        .payment {
            flex-flow: row wrap;
            img {
                width: 20rem;
            }
        }  
    }
}
