footer {
    background-color: $bgFooter;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    font-family: $fontLogo;
    font-size: $fontSize1;

    p {
        margin: 05px 0px 0px 05px;
    }
}