@import "./maps", "./extend", "./mixins", "./variables";

.navbar {
    background-color: $bgPrimary;
    border-radius: 07px;
    font-family: $fontPrimary;
    .navbar-toggler {
        margin-bottom: 05px;
    }
    div {
        div {
            ul {
                
                li {
                    background-color: $bgSecondary;
                    margin-left:02px;
                    border-radius: 03px;
                    @include shadow(00px, 02px, 04px, $borderSecondary);
                    a {
                        color: rgb(0, 0, 0);
                        text-align: center;
                        &:hover {
                            color: rgb(255, 255, 255) !important;
                        }  
                    }
                }
                
            }
       }
    }
}