@import "./maps", "./extend", "./mixins", "./variables";


.w-85 {
    width: 85vw;
}

#tituloDestacados{
    @extend .flexRow;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

#envioGratis {
    background-color: $bgPrimary;
    color: $colorPrimary;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: $fontSize1;
    padding: 07px;
    margin-bottom: 30px;
    font-weight: 500;
}

#novedadesMiros {
    width: fit-content;
    background-color: $bgPrimary;
    border-radius: 05px;
    border-bottom: 03px solid $borderPrimary;
    padding: 10px;
    font-size: $fontSize1;
    font-family: 'Lato', sans-serif;
    label {
        margin-bottom: 05px;
    }
    .formNovedades {
        display: flex;
        justify-items: center;
        align-items: center;
        #novedadesMail {
            height: 25px;
            width: 70%;
            border: none;
            padding: auto;
            border-radius: 05px;
            border-bottom-right-radius: 00px;
            border-top-right-radius: 00px;
            margin-right: 00px;
        }
    
        .submit {
            background-color: $bgSecondary;
            height: 25px;
            padding-right: 05px;
            padding-left: 05px;
            margin-left: 00px;
            border-radius: 05px;
            border-bottom: 02px solid $borderSecondary;
            border-bottom-left-radius: 00px;
            border-top-left-radius: 00px;
            border: none;
        }
    }
}


// INDEX TABLETA
@media screen and (min-width: 768px) and (max-width: 1200px) {
    #novedadesMiros {
        width: fit-content;
    }
}
// FIN INDEX TABLETA

// INDEX DESKTOP
@media screen and (min-width: 1200px) {

    #envioGratis {
        margin-left: 10px;
        margin-right: 10px;
        height: 40px;
    }

    #novedadesMiros {
        width: fit-content;
    }

    /* ANIMACIONES INDEX */

    .logoTitulo {
        transition: 0.3s;
        
        &:hover {
            transform: rotate(05deg);
        }
    }
    #envioGratis {
        transition: ease-in-out 0.4s;
        &:hover {
            transform: scale(1.04);
            text-decoration: underline;
        }
    }
    
    .card {
        transition: ease-in-out 0.4s;
        
        &:hover {
            transform:scale(1.05);
        }
    }
    
    #novedadesMiros {
        .submit:hover {
            background-color: $borderSecondary;
        }
    }

    /* FIN ANIMACIONES INDEX */
}
// FIN INDEX DESKTOP