@mixin displayFlex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin alignment($align, $justify) {
    align-items: $align;
    justify-content: $justify;
}

@mixin shadow($horizontal, $vertical, $blur, $color) {
    box-shadow: $horizontal $vertical $blur $color;
}