.mainPacks {
    background-image: url(../img/backgrounddestacados.jpg);
    grid-area: main;
    width: 80vw;
    
    .seccionTitulo {
        width: 100vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        padding: 06px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .packs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    
    }
}

// PACKS DESKTOP
@media screen and (min-width: 1200px) {
    
    /* ANIMACIONES PACKS */
    .packs article img{
        transition: opacity 0.3s;

        &:hover{
            opacity: 0.4;
        }
    }
    /* FIN ANIMACIONES PACKS */

}
// FIN PACKS DESKTOP