// backgrounds & borders

$bgPrimary: #67afcc;
$borderPrimary: #3a7daa;

$bgSecondary: #da905f;
$borderSecondary: #d4702d;

$bgFooter: #40bb54d8;

//fonts

$colorPrimary: #211f26;

$fontLogo: 'Lato', sans-serif;

$fontPrimary: 'Roboto', sans-serif;

$fontSize1: 15px;
