@import "./partials/header", "./partials/footer", "./partials/variables", "./partials/index", "./partials/productos", "./partials/packs", "./partials/contacto", "./partials/about", "./partials/maps", "./partials/cards", "./partials/extend";

* {
    margin: 0px;
    padding: 0px;
}

// BODY GENERAL
body {  
    background-image: url("https://raw.githubusercontent.com/lucasdanieltorres/torresLibreria/main/img/background.jpg");
}
// FIN BODY GENERAL



/* MEDIA QUERIE TABLET */

@media screen and (min-width: 768px) and (max-width: 1200px) {


    .nav {
        justify-content: center;
        align-items: center;

        ul {
            li {
                font-size: 16px;
                padding: 08px 40px 08px 40px;
            }
        }
    }

    footer {
        width: 100%;
        font-size: 14px;
    }
}

/* FIN MEDIA QUERIE TABLET */

