.cabecera {
  width: 100%;
  color: #211f26;
  font-size: 25px;
  border-radius: 10px;
}
.cabecera .logoTitulo {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.cabecera nav {
  background-color: #67afcc;
  border-bottom: 3px solid #3a7daa;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 5px;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.cabecera nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.cabecera nav ul li {
  padding: 8px 20px 8px 20px;
  background-color: #da905f;
  margin: 1px;
  border-bottom: 4px solid #d4702d;
}
.cabecera nav ul li a {
  color: #211f26;
  text-decoration: none;
  text-align: center;
}
.cabecera nav ul li a:hover {
  color: rgb(255, 255, 255);
}

.footer {
  background-color: rgba(64, 187, 84, 0.8470588235);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.footer .tituloFooter {
  width: 100%;
  font-size: 18px;
}
.footer .contactanos {
  display: flex;
  flex-flow: row wrap;
}
.footer .contactanos .redes {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  background-color: rgba(78, 172, 94, 0.847);
  border-radius: 5px;
}
.footer .contactanos .redes .logo {
  width: 40px;
  height: 40px;
}
.footer .contactanos .encontranos {
  background-color: rgba(78, 172, 94, 0.847);
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer .contactanos .encontranos .logo {
  width: 30px;
  height: 30px;
}
.footer .contactanos .encontranos .textoFooter {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #211f26;
}
.footer .contactanos .encontranos div,
.footer .contactanos .encontranos a div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .contactanos .encontranos a {
  text-decoration: none;
}
.footer .payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .payment img {
  width: 20rem;
}
.footer .copyright {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.footer .copyright span {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.footer .developer {
  background-color: rgba(67, 67, 67, 0.2823529412);
  width: 100%;
}
.footer .developer span {
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .footer .payment {
    flex-flow: row wrap;
  }
  .footer .payment img {
    width: 20rem;
  }
}
.w-85 {
  width: 85vw;
}

#tituloDestacados {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

#envioGratis {
  background-color: #67afcc;
  color: #211f26;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 7px;
  margin-bottom: 30px;
  font-weight: 500;
}

.card {
  border: none;
}
.card .card-body {
  padding: 10px 0px 10px 0px;
}
.card .card-body .card-title {
  font-size: 14px;
  font-weight: 600;
}
.card .card-body .btn-primary {
  color: black;
  font-size: 14px;
  background-color: #67afcc;
  width: 100%;
  margin: 0px;
  border: #3a7daa;
  border-radius: 0px;
  transition: transform 0.3s;
}
.card .card-body .btn-primary:hover {
  opacity: 0.8;
  text-decoration: underline;
}

#novedadesMiros {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #67afcc;
  border-radius: 5px;
  border-bottom: 3px solid #3a7daa;
  margin: 30px 10px 0px 10px;
  padding: 10px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
#novedadesMiros #novedadesMail {
  height: 25px;
  width: 65%;
}
#novedadesMiros .submit {
  margin-top: 10px;
  width: 20%;
  height: 28px;
  margin-left: 0px;
  background-color: #da905f;
  border: none;
  border-radius: 3px;
  border-bottom: 2px solid #d4702d;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #novedadesMiros {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 1200px) {
  #envioGratis {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
  }
  /* CARDS */
  .card {
    border: none;
  }
  .card .card-body {
    padding: 10px 0px 10px 0px;
  }
  .card .card-body .card-title {
    font-size: 14px;
  }
  .card .card-body .btn-primary {
    color: black;
    font-size: 12px;
    background-color: #67afcc;
    width: 100%;
    margin: 0px;
    border: #3a7daa;
    border-radius: 0px;
    transition: transform 0.3s;
  }
  .card .card-body .btn-primary:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
  /* FIN CARDS */
  #novedadesMiros {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  /* ANIMACIONES INDEX */
  .logoTitulo {
    transition: 0.3s;
  }
  .logoTitulo:hover {
    transform: rotate(5deg);
  }
  #envioGratis {
    transition: transform 0.3s;
  }
  #envioGratis:hover {
    transform: scale(1.1);
    text-decoration: underline;
  }
  .card {
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.1);
  }
  #novedadesMiros .submit:hover {
    background-color: #d4702d;
  }
  /* FIN ANIMACIONES INDEX */
}
/* SECCION PRODUCTOS */
/* NAV BAR SECCION PRODUCTOS */
.categorias {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 17px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  border-radius: 9px;
  border: 1px solid black;
}
.categorias h4 {
  margin-bottom: 10px;
}
.categorias ul {
  list-style-type: none;
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.categorias ul li {
  margin: 3px 4px 3px 4px;
}

.navCategorias {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 17px;
  display: none;
}
.navCategorias ul {
  list-style-type: none;
}

/* FIN NAV BAR PRODUCTOS */
.bodyProductos main {
  background-image: url(/img/backgrounddestacados.jpg);
}
.bodyProductos main .seccionTitulo {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bodyProductos main .listaProductos {
  border: 1px solid black;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
}

/* FIN SECCION PRODUCTOS */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .categorias {
    margin-top: 40px;
  }
  .categorias h4 {
    font-size: 16px;
  }
  .categorias ul {
    font-size: 15px;
  }
  .bodyProductos main {
    margin-top: 0px;
    padding: 8px 30px 8px 30px;
  }
  .bodyProductos main .seccionTitulo {
    width: 30vw;
    font-size: 18px;
  }
  .bodyProductos main .listaProductos {
    display: flex;
    flex-flow: row wrap;
    width: 66vw;
  }
  .navCategorias {
    font-size: 15px;
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: none;
  }
  .navCategorias h4 {
    margin: 5px 0px 5px 0px;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .bodyProductos .categorias {
    margin-top: 80px;
  }
  .bodyProductos .navCategorias {
    width: 15vw;
    height: 55vw;
    margin-left: 50px;
    font-size: 15px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #37eb40;
  }
  .bodyProductos .navCategorias h4 {
    margin: 100px 0px 25px 0px;
    font-size: 20px;
  }
  .bodyProductos .navCategorias ul li:hover {
    text-decoration: underline;
  }
  .bodyProductos main {
    width: 65vw;
    margin-top: 60px;
  }
  .bodyProductos main .listaProductos {
    display: flex;
    flex-flow: row wrap;
  }
}
.mainPacks {
  background-image: url(../img/backgrounddestacados.jpg);
  grid-area: main;
  width: 80vw;
}
.mainPacks .seccionTitulo {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mainPacks .packs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  /* ANIMACIONES PACKS */
  .packs article img {
    transition: opacity 0.3s;
  }
  .packs article img:hover {
    opacity: 0.4;
  }
  /* FIN ANIMACIONES PACKS */
}
.textoContacto {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: baseline;
  width: 90vw;
  margin-bottom: 40px;
}
.textoContacto h2 {
  margin-bottom: 10px;
  text-decoration: underline;
}
.textoContacto p {
  line-height: 2;
}
.textoContacto p a {
  color: #000;
  font-weight: 600;
}

.formContacto {
  background-color: #67afcc;
  border-bottom: 4px solid #3a7daa;
  border-radius: 4px;
  font-family: "IBM Plex Sans", sans-serif;
  width: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 40px;
}
.formContacto h3 {
  margin: 15px;
}
.formContacto #nombre,
.formContacto #numero,
.formContacto #email {
  width: 200px;
}
.formContacto #mensaje {
  width: 250px;
  height: 75px;
}
.formContacto .boton {
  width: 75px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #000;
  border-bottom: 2px solid #000;
}

.contactanos {
  font-family: "IBM Plex Sans", sans-serif;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: baseline;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mainContacto {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .mainContacto .contactanos {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .mainContacto {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 80vw;
  }
  .mainContacto .formContacto {
    margin-right: 200px;
  }
  .mainContacto .contactanos {
    border-left: 1px solid black;
    padding-left: 40px;
  }
}
.mainAbout {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mainAbout .textoAbout {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 17px;
  background-color: #da905f;
  display: flex;
  flex-flow: column wrap;
  width: 80vw;
  margin-top: 60px;
  margin-bottom: 86px;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 3px solid #d4702d;
}
.mainAbout .textoAbout #textoaboutIngles {
  font-style: italic;
  font-weight: 900;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .bodyAbout main {
    height: 800px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("https://raw.githubusercontent.com/lucasdanieltorres/torresLibreria/main/img/background.jpg");
}

/* MEDIA QUERIE TABLET */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .nav {
    justify-content: center;
    align-items: center;
  }
  .nav ul li {
    font-size: 16px;
    padding: 8px 40px 8px 40px;
  }
  footer {
    width: 100%;
    font-size: 14px;
  }
}
/* FIN MEDIA QUERIE TABLET *//*# sourceMappingURL=styles.css.map */